@charset "utf-8";

@font-face {
    font-family: NanumBarunGothic;
    font-weight: 400;
    src: url(../font/NanumBarunGothic.eot);
    src: local("※"), url(../font/NanumBarunGothic.eot#iefix) format("embedded-opentype"), url(../font/NanumBarunGothic.woff) format("woff"), url(../font/NanumBarunGothic.ttf) format("truetype");
}
@font-face {
    font-family: NanumBarunGothicLight;
    font-weight: 100;
    src: url(../font/NanumBarunGothicLight.eot);
    src: local("※"), url(../font/NanumBarunGothicLight.eot#iefix) format("embedded-opentype"), url(../font/NanumBarunGothicLight.woff) format("woff"), url(../font/NanumBarunGothicLight.ttf) format("truetype");
}
@font-face {
    font-family: NanumBarunGothicBold;
    font-weight: 400;
    src: url(../font/NanumBarunGothicBold.eot);
    src: local("※"), url(../font/NanumBarunGothic.eot#iefix) format("embedded-opentype"), url(../font/NanumBarunGothicBold.woff) format("woff"), url(../font/NanumBarunGothicBold.ttf) format("truetype");
}